{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>SQL GUI</h1>
    <p class="lead">flowers2019.db</p>

  </div>
  <div class="container">
    <table class="table table-hover">
    <thead>
        <tr>
            <th>IMAGE</th>
            <th>GENUS</th>
            <th>SPECIES</th>
            <th>COMNAME</th>
            <th>Options</th>
        <tr>
    </thead>
    <tbody>
        {% for item in flowers %}
        <tr>
            <td>
                <img src={{images[flowers.index(item)] | replace('[\'', '') | replace('\']', '') | replace('\\ufeff', '')}} width=80 height=80>
            </td>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>
              <input type="submit" class="btn btn-primary" value="Update">
            </td>
            <td>
              <a href = "{{ url_for('delete', genus=item[0], species=item[1], comname=item[2]) }}">
                <input type="submit" class="btn btn-danger" value="Delete">
              </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}